/*Variables*/
:root {
  --primary-color: #eddecc;
  --secondary-color: #215a5e;
  --primary-color-active: #d3c2ad;
  --secondary-color-active: #12415b;
  --primary-color-hover: #e4d0b885;
  --secondary-color-hover: #0a3247;
  --white: rgb(245, 245, 245);
  --black: rgb(35, 35, 35);
}

/*Arch Blocks*/
.top-arch {
  margin-top: 60px;
  padding: 150px 0 20px 0;
  border-radius: 1000px 1000px 0 0;
  background-color: var(--primary-color);
  min-height: 600px;
}
.bottom-arch {
  margin-bottom: 60px;
  padding: 20px 0 150px 0;
  border-radius: 0 0 2000px 2000px;
  background-color: var(--primary-color);
  min-height: 600px;
}
section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Text Styling*/
a {
  color: inherit;
  text-decoration: inherit;
}
h1,
h2,
h3,
h4 {
  color: var(--secondary-color);
  font-family: "Philosopher", sans-serif;
  padding-left: 2px;
}
h1 {
  font-size: 52px;
  line-height: 1;
  padding-top: 20px;
}
h2 {
  font-size: 36px;
  line-height: 1;
  padding-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 1;
  padding-top: 20px;
}
h4 {
  padding-top: 10px;
  font-size: 18px;
}
.row {
  padding-top: 10px;
}
p,
li,
a {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 2px 0 2px;
}

/*Card Styling*/
.card {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: #f0f0f0;
}
.card-group {
  padding-top: 20px;
  padding-bottom: 20px;
}
div .card img {
  padding: 10px 25px;
  border-radius: 20px;
  max-height: 200px auto;
}

/*Top Nav*/
.navbar {
  color: var(--secondary-color);
  background-color: var(--primary-color) !important;
  border-radius: 5px;
}
.nav-item,
.dropdown-item {
  padding-left: 10px;
  padding-right: 10px;
}
.nav-item:hover,
.dropdown-item:hover {
  background-color: var(--primary-color-hover);
  color: var(--secondary-color-hover);
  border-radius: 40px;
  font-weight: 500;
}
.nav-item .active,
.dropdown-item .active {
  color: var(--secondary-color-active);
  border-radius: 40px;
  font-weight: 600;
}
.logo {
  position: fixed;
  scale: 80%;
  top: 0;
  left: 60px;
}

/*Responsive*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  /*center text elements*/
  h1,
  h2,
  h3,
  h4,
  p {
    text-align: center;
  }

  p,
  li {
    font-size: 16px;
  }

  /*arch blocks*/
  .top-arch {
    min-height: 250px;
  }

  .bottom-arch {
    min-height: 250px;
  }
}
